<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello View EJS</title>
		<link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    Hello EJS
		<div  >
			<img class="hoidanIt" src="/images/flezzexample.png" alt=""> <!-- no need /public/... because we already config express can know to search static files in /public by itself-->
		</div>
  </body>
</html>
